@keyframes fadeout {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes blurout {
	0%, 10% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
	}

	100% {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
	}
}

@keyframes show {
	0% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


#layers {
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: black;

	> div {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

#layer-igharta {
	background-image: url('../img/igharta/igharta.png');

	.on-start & {
		animation: 3s linear 4s 1 both blurout;
	}
	.on-question &, .on-result & {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
	}
}

#layer-clouds1 {
	background-image: url('../img/igharta/cloud1.png');

	.on-start & {
		opacity: 0;
		animation: 4s ease-out 0s 1 both fadeout;
	}
}

#layer-clouds2 {
	background-image: url('../img/igharta/cloud2.png');

	.on-start & {
		opacity: 0;
		animation: 2s ease-out 0s 1 both fadeout;
	}
}

body.on-start {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 60vh;
	justify-content: center;
}

.on-start #content {
	display: block;
	visibility: hidden;
	opacity: 0;
	animation:
		1s linear 7s 1 both show,
		1s linear 7s 1 both fadein;
}

#content div#question {
	background: transparent;
}

#content div#result {
	background: transparent;

	ol.profiles > li {
		background: transparent;
	}
}
